<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="ko">
    <meta charset="UTF-8">
</head>

<body>

<table style="width:100%;border:0;text-align:center;border-collapse:collapse;border-spacing:0">
    <tbody>
    <tr>
        <td style="text-align:left">
            <div style="max-width:600px;margin:0 auto;padding:0 40px">
                <table style="width:100%;border:0;margin:0 auto;border-collapse:collapse;border-spacing:0">
                    <tbody>
                    <tr>
                        <td style="height:40px"></td>
                    </tr>
                    <tr>
                        <td style="font-family:'Noto Sans CJK KR';'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;font-weight:normal;color:#111111;line-height:33px">
                            글을담다
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;border-bottom:1px solid #dddddd;"></td>
                    </tr>
                    <tr>
                        <td style="height:32px"></td>
                    </tr>
                    <tr>
                        <td style="height:16px"></td>
                    </tr>
                    <tr>
                        <td
                                style="font-family:'Noto Sans CJK KR';'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:14px;color:#555;line-height:26px;font-weight:normal">
                            안녕하세요. 장기 미이용으로 인해 30일 후 탈퇴 처리가 진행될 예정입니다.<br>탈퇴시 개인정보 및 게시물 정보는 모두 파기 됩니다.
                    </tr>
                    <tr>
                        <td style="height:60px"></td>
                    </tr>
                    <tr>
                        <td style="height:14px;background:#f6f6f6;text-align:left"></td>
                    </tr>
                    <tr>
                        <td
                                style="padding:0 24px;background:#f6f6f6;font-family:'Noto Sans CJK KR'; font-size: 12px;line-height:28px;color:#777777;text-align:left">
                            ㆍ궁금한 사항은 <span style="color:#777777;font-weight:bold" rel="noreferrer noopener">geulbox@gmail.com</span>로 문의해 주세요. </td>
                    </tr>
                    <tr>
                        <td style="height:14px;background:#f6f6f6"></td>
                    </tr>
                    <tr>
                        <td style="height:16px"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>